<div id="page-content-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <h3>
          <span style="display: block; width: 100%; font-size: 17px;">Hi and welcome to place where you can</span>
          share and test your C, Rubby and Rust code.
        </h3>

        <p>In order to submit your code or comment on somebody else code you must login/register.</p>
        <p><h4>API <span style="font-size: 13px;">- Get last 10 records with GET method at url: <%= link_to('Snippets', api_snippets_url(:format => :json)) %></span></h4></p>
        <a href="#menu-toggle" id="menu-toggle">Toggle Menu</a>
      </div>
    </div>
  </div>
</div>